#container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
    
}
#right, #left{
    border: 2px solid black;
    height: 300px;
    width: 200px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right, blue, black);
    border-radius: 10px;
}
.list{
    border: 2px solid blue;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    cursor: grab;
}